/* Global */

body {
  background-color: #e0e0e0;
}

h1 {
  color: #333;
  font: 50px Oswald;
  letter-spacing: -1px;
  margin: 0;
}

h2.functionPerson {
   color: #148dcd;
   font: 30px Oswald;
   margin-top: -8px;
}

.namePerson,
.functionPerson,
.infoPerson p {
  display: none;
}

.bounceInLeft {
  display: block !important;
}

/* Header */

header .bgMenu {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  text-align: right;
}

header.fixedMenu {
    position: fixed;
    width: 100%;
}

.navMenu {
  z-index: -1;
  position: relative;
}

.navMenu.fadeInDown {
  animation-duration: .5s;
}

.linksMenu {
  display: none;
  list-style: none;
  margin: -4px 0 0;
  padding: 0;
}

.linksMenu.showMenu {
  display: block;
  background-color: #148dcd;
  padding-top: 2em;
  margin-top: -2.25em;
}

.linksMenu a {
  color: #fff;
  text-align: left;
  font: 1.5em Oswald;
  padding: .8em;
  display: block;
  text-decoration: none;
}

.linksMenu a:before {
  margin: 0 1em 0 .25em;
}

.linksMenu li:nth-child(1) a {
  background-color: #148dcd;
}

.linksMenu li:nth-child(2) a {
  background-color: #1381bb;
}

.linksMenu li:nth-child(3) a {
  background-color: #1070a4;
}

.bgShade.fadeIn,
.bgShade.fadeOut {
    background-color: rgba(0,0,0,.75);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

.bgShade.fadeOut {
  visibility: hidden;
}

/* Main */

main {
  position: relative;
  top: -80px;
  z-index: -1;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.fixedMenu + main {
  top: 0;
}

section {
  padding: 2em 0;
  min-height: 100vh;
  box-sizing: border-box;
}

section:nth-child(even) {
  background-color: #fff;
}

.home {
  padding-top: calc(2em + 80px);
}

.figureProfile {
  margin: 0 0 2em;
}

.figureProfile img {
  display: none;
}

.figureProfile.animated.zoomInUp img {
  border: 8px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 180px;
  width: 60%;
}

.infoPerson {
  text-align: center;
  margin-top: -5px;
}

.infoPerson p {
  color: #333;
  font: 18px Source Sans Pro;
  text-align: left;
  margin: .25em auto;
  position: relative;
  width: 200px;
  left: .5em;
}

.infoPerson p:before {
  position: absolute;
  left: -1.5em;
}

.infoPerson p.fa-linkedin-square:before {
  left: -1.45em;
}

.infoPerson p.fa-map-marker:before {
  left: -1.4em;
}

/* Footer */

.linkHeader {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  background-color: rgba(170,170,170,.25);
  opacity: 0;
  transition: .25s;
}

.linkHeader:before {
  color: #aaa;
  margin-left: 10px;
  margin-top: -1px;
  transition: .25s;
}

/* Media Queries - Desktop */

@media screen and (min-width: 800px) {

  /* Header - Desktop */

  header .bgMenu {
    background-color: #148dcd;
  }
    
  div.burgerMenu {
    display: none;
  }

  .navMenu {
    z-index: 0;
  }

  .linksMenu {
    display: block;
    text-align: center;
  }

  .linksMenu li {
    display: inline-block;
  }

  .navMenu .linksMenu li a {
    background-color: transparent;
    color: #0c547b;
    padding: 22px 1.2em 24px .8em;
    transition: .25s;
  }

  .navMenu .linksMenu li a:hover {
    color: #fff;
  }

  .navMenu.bounceOutUp {
    animation-name: unset;
  }

  .figureProfile.animated.zoomInUp img {
    max-width: inherit;
    width: 360px;
  }

  .bgShade.fadeIn,
  .bgShade.fadeOut {
    display: none;
  }

  /* Main - Desktop */

  .container {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
  }

  /* Main - Footer */

  .linkHeader {
    right: 5%;
  }

  .linkHeader:hover {
    background-color: rgba(20,141,205,.25);
  }

  .linkHeader:hover:before {
    color: #148dcd;
  }

}

/* Tasty Burger Menu */

.burgerMenu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #148dcd;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
}

.burger {
  top: 22px;
  right: 10px;
  opacity: 1;
}

.burger::before {
  top: 10px;
  content: "";
  display: block;
}

.burger::after {
  bottom: 10px;
  content: "";
  display: block;
}

.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  background-color: #fff;
  border-radius: 2px;
  width: 29px;
  height: 5px;
  position: absolute;
}

.burgerMenu.showMenu .burger::after{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px;
}

.burgerMenu.showMenu .burger::before{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}

.burgerMenu.showMenu .burger{
  background: rgba(111,111,111,.0);
}
