/* Header */

header .bgMenu {
  background-color: #148dcd;
}

div.burgerMenu {
  display: none;
}

.navMenu {
  z-index: 0;
}

.linksMenu {
  display: block;
  text-align: center;
}

.linksMenu li {
  display: inline-block;
}

.navMenu .linksMenu li a {
  background-color: transparent;
  color: #0c547b;
  padding: 22px 1.2em 24px .8em;
  transition: .25s;
}

.navMenu .linksMenu li a:hover {
  color: #fff;
}

.navMenu.bounceOutUp {
  animation-name: unset;
}

.figureProfile.animated.zoomInUp img {
  max-width: inh
}

.bgShade.fadeIn,
.bgShade.fadeOut {
  display: none;
}

/* Main */

.windowWorks section {
    padding-top: calc(2em + 80px);
}

.windowWorks .sectionWorks {
  margin-bottom: 90px;
  padding-top: 0;
}

h3 {
  text-align: left;
  margin-bottom: 0;
}

h4 {
  text-transform: none;
}

h4 ~ img {
  width: 100%;
}

article {
    width: 100%;
    margin: 40px 0 0;
    display: inline-block;
}

aside {
  margin-top: 45px;
}

aside > ul {
  padding: 20px 0;
}

main ul li {
  color: #666;
  font-size: .8em;
  margin-bottom: 10px;
}

main ul li:before {
  content: none;
}

main ul li span {
  color: #333;
  font-weight: 600;
  margin-right: .25em;
}

main ul li ul {
  margin-top: 5px;
}

.logoFocus {
  background: url("../img/logo_focusnetworks.jpg") no-repeat;
  display: block;
  width: 150px;
  height: 39px;
}

.logoLumis {
  background: url("../img/logo_lumis.jpg") no-repeat;
  display: block;
  width: 90px;
  height: 23px;
}

.windowWorks .sectionWorks h3 {
  margin-bottom: .5em;
}

.windowWorks .sectionWorks article {
  margin: 3px 5px;
  width: calc(50% - 10px);
}

.windowWorks .sectionWorks article:nth-child(odd) {
  margin-left: 0;
}

.windowWorks .sectionWorks article:nth-child(even) {
  margin-right: 0;
}

.windowWorks .sectionWorks h5 {
  font-size: 16px;
  margin: 10px 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: calc(100% - 20px);
}

.windowWorks .sectionWorks p {
  font-size: 13px;
  margin: 5px 10px 0;
}

@media screen and (min-width: 1024px) {
  
  article{
    width: calc(100% - 400px);
  }

  aside {
    margin-top: 90px;
    width: initial;
  }

  aside > ul {
    border-left: 1px solid #ddd;
    margin-left: 50px;
    padding: 20px 0 20px 50px;
  }

  .windowWorks .sectionWorks article {
    width: calc(25% - 10px);
  }

  .windowWorks .sectionWorks article:nth-child(even),
  .windowWorks .sectionWorks article:nth-child(odd) {
    margin: 0 5px;
  }

  .windowWorks .sectionWorks article:nth-child(1n) {
    margin-left: 0;
  }
  
  .windowWorks .sectionWorks article:nth-child(4n) {
    margin-right: 0;
  }

  .windowWorks .sectionWorks h5 {
    margin-top: 45%;
  }

  .windowWorks .sectionWorks p {
    margin-top: 45%;
  }

}